.container{
	max-width: auto;
	margin: 0;
	padding-left: 0;
	padding-right: 0;

	&__small{
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	@mixin atSmall{
		max-width: 71.25rem;
	margin: 0 auto;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;

	}
}