.services{
	
	overflow: hidden;
	@mixin clearfix;

	&__main{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	width: 35.9375rem;

		
	}

	&__left{
		position: relative;
		lost-column: 1;

			@mixin atMedium{
				lost-column: 1/2;
			}
	}
	&__right{
		position: relative;
		lost-column: 1;

			@mixin atMedium{
				lost-column: 1/2;
			}
	}

	&__unit{
		background-color: #fff;
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
		margin-bottom: 4rem;

		& img{
			margin-top: 2rem;
			border-radius: 50%;

		}

		& h3{
			color: $siteGreen;
			font-size: 1.5rem;
		}

		& p{
			text-align: center;
			margin: 20px;
			color: rgba(0, 0, 0, .5);
		}

			@mixin atMedium{

			}
	}

	&__section--img{
		border: 1px solid #fff;
		border-radius:20%;
		margin: 0;
		width: 200px;
		height: 160px;
	}

	
	
}